<p id="notice"><%= notice %></p>

<p>
  <strong>Common name:</strong>
  <%= @animal.common_name %>
</p>

<p>
  <strong>Latin name:</strong>
  <%= @animal.latin_name %>
</p>

<p>
  <strong>Kingdom:</strong>
  <%= @animal.kingdom %>
</p>

<table>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Region</th>
    </tr>
  <% @sightings.each do |sighting| %>
    <tr>
      <td><%= sighting.date %></td>
      <td><%= sighting.time %></td>
      <td><%= sighting.longitude %></td>
      <td><%= sighting.latitude %></td>
      <td><%= sighting.region.name %></td>
    </tr>
  <% end %>
</table>


<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
